// Abysses mystiques gradient colors
$primary-color: #0D1B3E ;
$gradient-abyss: linear-gradient(
    223deg,
    rgba(13, 27, 62, 1) 0%,
    rgba(26, 180, 200, 1) 100%
);
//
$secondary-color: #1A1C48;


$post-color: #20202B;