{% extends 'base.html.twig' %}

{% block title %}Chill Room-Update Post{% endblock %}

{% block body %}
    <div class='banner'>
        {% if is_granted('ROLE_USER')%}
            <img src="{{ asset('images/images/' ~ user.imgProfil) }}" alt="Image du post">
        {% endif %}        <h1>Modifier mon profil</h1>
    </div>
    <div class='inscription'>
        <div class='form-inscription'>
                {{form_start(updateuser)}}
                {{form_widget(updateuser)}}
                <button>Modifier</button>
            {{ form_end(updateuser)}}
        </div>
    </div>
{% endblock %}
