{% extends 'base.html.twig' %}

{% block title %}Hello UpdatepostController!{% endblock %}

{% block body %}
    <div class='inscription'>
        <div class='form-inscription'>
            <h1>Modifier mon profil</h1>
                {{form_start(updateuser)}}
                {{form_widget(updateuser)}}
                <button>Modifier</button>
            {{ form_end(updateuser)}}
        </div>
    </div>
{% endblock %}
