{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section>
        <div>
            <img src="{{ asset('images/images/' ~ user.imgProfil) }}" alt="Image de profil">        
        </div>
    </section>
{% endblock %}
