{% extends 'base.html.twig' %}

{% block title %}Hello ResetpasswordController!{% endblock %}

{% block body %}
    <div>
        <div class='form-inscription'>
            <h1>Réinitialisation du mot de passe</h1>
                {{form_start(Newpassword)}}
                {{form_widget(Newpassword)}}
                <button>Réinitialiser</button>
            {{ form_end(Newpassword)}}
        </div>
    </div>
{% endblock %}
