{% extends 'base.html.twig' %}

{% block title %}Resetpassword{% endblock %}

{% block body %}
    <div>
    <div class='banner'>
        {% if is_granted('ROLE_USER')%}
            <img src="{{ asset('images/images/' ~ user.imgProfil) }}" alt="Image du post">
        {% endif %}        
        <h1>Réinitialisation du mot de passe</h1>  
    <div>
        <div class='form-inscription'>
            <h1>Réinitialisation du mot de passe</h1>
                {{form_start(Newpassword)}}
                {{form_widget(Newpassword)}}
                <button>Réinitialiser</button>
            {{ form_end(Newpassword)}}
        </div>
    </div>
{% endblock %}
