@use '../abstracts/variables' as v;

body {
      margin: 0;
      padding: 0;
      color: white;
      background-color: v.$primary-color;
      background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
      p{
            margin: 0;
      }
}
