@use '../abstracts/variables' as v;

body {
      margin: 0;
      background-color: #0a0a0a;
      background-image: url(http://www.transparenttextures.com/patterns/black-felt.png);
      padding: 0;
      color: white;

}
.sous-body{
      padding-left: 10rem;
}
