@use '../abstracts/variables' as v;

body {
      margin: 0;
      padding: 0;
      color: white;
      background-color: #1a1a1e;
      background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
.sous-body{
      padding-left: 10rem;
}
