.boucle{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 1rem;
    .card{
        width: 100%;
        max-width: 725px;
        margin: 3rem;
        padding: 20px;
        border-radius: 3px;
        border: 1px solid #222225;
        background-color: rgba(34,34 ,37,0.4 );
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .body_post{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .footer_post{
            a{
                color: white;
            }
        }
        a{
            text-decoration: none;
            display: inline-block;
            .user-body{
                color: white;
                font-weight: bold;
            }
        }
        .post-user{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            p{
                color: white;
            }
            .img-user-post{
                height:2.4rem;
                width: 2.4rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .text-meta{
            font-weight: bold;
        }
        .btns_post{
            display: flex;
            gap: 15px;
        a{
            background-color: #5865F2;
            color: rgb(255, 255, 255);
            padding: 6px 8px;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
        }
        .btn_supp{
            background-color: #DA3E44;
            color: rgb(255, 255, 255);
            padding: 7px 8px;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
        }
    }
}