{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section>
        <div class='banner'>
            <h1>Gallery !</h1>
        </div>
    </section>
    <section>
        <div class="boucle">
            {% for post in posts %}
            <div class="card">
                <div>
                    <img src="{{ asset('images/images/' ~ post.imageName) }}" alt="Image du post">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.body }}</p>
                    <a href="{{ path('update_article', {'id': post.id}) }}">Modifier</a>
                </div>
            </div> 
            {% endfor %}
        </div>
    </section>
{% endblock %}