{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<section>
    <h1>Rechercher utilisateur</h1>
    <form action="{{ path('app_search') }}" method="post">
        <input type="text" name="search" placeholder="Rechercher un utilisateur...">
        <button type="submit">Rechercher</button>
</section>
{% endblock %}
