.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.boucle{
    .card{
        width: 100%;
        max-width: 400px;
        margin: 20px;
        padding: 20px;
        background-color: #1A1C48;
        border-radius: 10px;
        box-shadow:0px 3px 3px ;
        img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.posts{
    display: flex;
    justify-content: center;
}