{% extends 'base.html.twig' %}

{% block title %}Hello UpdatepostController!{% endblock %}

{% block body %}
    <div class='inscription'>
        <div class='form-inscription'>
            <h1>Publie un post</h1>
                {{form_start(update)}}
                {{form_widget(update)}}
                <button>Ajouter</button>
            {{ form_end(update)}}
        </div>
    </div>
{% endblock %}
