{% extends 'base.html.twig' %}

{% block title %}Chill Room-Update Post{% endblock %}

{% block body %}
    <div class='banner'>
        <h1>Publie un post</h1>
    </div>
    <div class='inscription'>
        <div class='form-inscription'>
                {{form_start(update)}}
                {{form_widget(update)}}
                <button>Ajouter</button>
            {{ form_end(update)}}
        </div>
    </div>
{% endblock %}
