{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class='banner'>     
        <h1>Inscription</h1>
    </div>
    <div class='inscription'>
        <div class='form-inscription'>
                {{form_start(inscription)}}
                {{form_widget(inscription)}}
                <button>Ajouter</button>
            {{ form_end(inscription)}}
        </div>
    </div>
{% endblock %}
