{% extends 'base.html.twig' %}

{% block title %}Hello AddController!{% endblock %}

{% block body %}
    <div class='inscription'>
        <div class='form-inscription'>
            <h1>Publie un post</h1>
                {{form_start(addpost)}}
                {{form_widget(addpost)}}
                <button>Ajouter</button>
            {{ form_end(addpost)}}
        </div>
    </div>
{% endblock %}
